* {
    font-family: 'Combo', cursive;
    font-size: 20px;
    font-weight: 900;
}

.caja1{
    height: 200px;
    width: 200px;
    background: slateblue;
    transition: background 1s, height 1s, width 1s;
    border: 3px solid red;
}

.caja1:hover{
    background: darkslateblue;
    height: 300px;
    width: 300px;
}
