* {
    font-family: 'Combo', cursive;
    font-size: 20px;
    font-weight: 900;
}

.caja{
    display: flex;
    height: 300px;
}



.caja div{
    flex: 1;
    display: flex;
    margin: 4px;
    border: 1 solid red;
    min-width: 180px;
}

.caja img{
    object-fit: cover;
}
