* {
    font-family: 'Combo', cursive;
    font-size: 40px;
    font-weight: 100;
}

body{
    background: black;
}

div{
    margin: auto;
    margin-top: 50px;
    width: 320px;
    height: 350px;
    border: 5px solid blueviolet;
    background: grey;
    overflow: hidden;
}

img{
    width: 1000px;
    position: relative;
    top: 260px;
    left: 240px;
    outline: 2px solid red;
}